#shortcut-container{
    bottom: 0px;
    display: flex;
    justify-content: center;
}

#shortcut{
    position: absolute;
    bottom: 10px;
    height: 80px;
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.shortcut-item{
    width: 60px;
    background-color: brown;
}